In [1]:
x=10
print("Integer: ",x)

y=3.14
print(type(y))
print("Float: ",y)

z=5+2j
print("Complex: ",z)

Integer:  10
<class 'float'>
Float:  3.14
Complex:  (5+2j)

In [2]:
name="Shaunak"
print("Name: ",name)
print("Name in Uppercase: ",name.upper())
print("Name in Lowercase: ",name.lower())
print("Name Length: ",len(name))
print("Name Repeated: ",name*3)
print("Name Concatenated: ",name+" Mishra")
print("First 3 characters of Name: ",name[:3])
print("Last 3 characters of Name: ",name[-3::])
print("Characters from index 1 to 3: ",name[1:4])
print("Is 'a' in Name?: ",'a' in name)

Name:  Shaunak
Name in Uppercase:  SHAUNAK
Name in Lowercase:  shaunak
Name Length:  7
Name Repeated:  ShaunakShaunakShaunak
Name Concatenated:  Shaunak Mishra
First 3 characters of Name:  Sha
Last 3 characters of Name:  nak
Characters from index 1 to 3:  hau
Is 'a' in Name?:  True

In [3]:
fruits=["Apple","Banana","Mango","Orange"]
print("Fruits List: ",fruits)
print("First Fruit: ",fruits[0])
fruits.append("Grapes")
print("Fruits List after appending Grapes: ",fruits)

coords=(10,20)
print("Coordinates Tuple: ",coords)
print("X Coordinate: ",coords[0])  
print("Y Coordinate: ",coords[1])


unique_nums = {1, 2, 3, 3}
print("Unique Numbers Set: ",unique_nums)
print("Is 2 in Unique Numbers Set?: ",2 in unique_nums)


person={
    "name":"Shaunak Mishra",
    "age":21,
    "city":"Bhubaneswar"
}
print("Person Dictionary: ",person)
print("Person's Name: ",person["name"],"Person's Age: ",person["age"],"Person's City: ",person["city"])

Fruits List:  ['Apple', 'Banana', 'Mango', 'Orange']
First Fruit:  Apple
Fruits List after appending Grapes:  ['Apple', 'Banana', 'Mango', 'Orange', 'Grapes']
Coordinates Tuple:  (10, 20)
X Coordinate:  10
Y Coordinate:  20
Unique Numbers Set:  {1, 2, 3}
Is 2 in Unique Numbers Set?:  True
Person Dictionary:  {'name': 'Shaunak Mishra', 'age': 21, 'city': 'Bhubaneswar'}
Person's Name:  Shaunak Mishra Person's Age:  21 Person's City:  Bhubaneswar

In [ ]:
# List
myList=["Apple","Mango","Banana"]
print("List: ",myList)
print("First Element of List: ",myList[0])
myList.append("Orange")
print("Length: ",len(myList))

thisList= list(("Python","Java","C++"))
print("List : ",thisList)

lang=["Python","Java","C++"]
lang[1]="JavaScript"
lang.insert(2,"Ruby")

lang.extend(myList)

lang.remove("C++")
lang.pop(5)
del lang[0]
myList.clear()
print("length of myList",len(myList))
del thisList
print("Modified List: ",lang)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)


fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

copyFruit=fruits.copy()
print(copyFruit)

copyFruit2=fruits[:]
print(copyFruit2)

copyListFruit= list(fruits)
print(copyListFruit)

ExtendedList=copyFruit+copyFruit2
print(ExtendedList)

x=ExtendedList.count("banana") #count the occurence of an element in a list
print(x)

List:  ['Apple', 'Mango', 'Banana']
First Element of List:  Apple
Length:  4
List :  ['Python', 'Java', 'C++']
length of myList 0
Modified List:  ['JavaScript', 'Ruby', 'Apple', 'Mango', 'Orange']
['apple', 'banana', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
['mango', 'kiwi', 'cherry', 'banana', 'apple']
['mango', 'kiwi', 'cherry', 'banana', 'apple']
['mango', 'kiwi', 'cherry', 'banana', 'apple']
['mango', 'kiwi', 'cherry', 'banana', 'apple']
['mango', 'kiwi', 'cherry', 'banana', 'apple', 'mango', 'kiwi', 'cherry', 'banana', 'apple']
2

:

In [5]:
#Tuple
myTuple= ("Apple", "Banana","Mango","Apple")
print(myTuple)
len(myTuple)

mySingleTuple=("Apple",) #for single element tuple, comma is mandatory
print(type(mySingleTuple))

('Apple', 'Banana', 'Mango', 'Apple')
<class 'tuple'>

In [6]:
age=19
if(age>=18):
    print("You are an adult.")
elif(age<18 and age>0):
    print("You are a minor.")
else:
    print("Invalid age.")

You are an adult.