In [ ]:
# Pandas Practice: Titanic Dataset
#Goal: Learn Data Handling in Pandas - creation, cleaning, analysis, and exporting.
import pandas as pd
import numpy as np
import seaborn as sns  # For loading Titanic dataset easily

titanic = sns.load_dataset('titanic')
#titanic = pd.read_csv('./Titanic_Dataset.csv')

#chech first 5 rows
print(titanic.head())

In [ ]:
#info about dataset
titanic.info()

# summary statistics
print(titanic.describe())

# check missing values
print(titanic.isnull().sum())

In [ ]:
#Fill missing age values with median age
titanic['age'].fillna(titanic['age'].median())

# Drop 'deck' column due to high missing values
titanic= titanic.drop(columns=['deck'])

#Fill missing embarked values with mode
titanic['embarked'].fillna(titanic['embarked'].mode()[0])

In [18]:
#Data Analysis

#count passengers by class
print("Passenger by class:\n", titanic['pclass'].value_counts())

#Survival rate by gender
print("\nSurvival rate by gender: \n", titanic.groupby('sex')['survived'].mean())

#Average age by class
print("\nAverage age by class:\n", titanic.groupby('pclass')['age'].mean())

#Pivot table for survival rate by class and gender
pivot_table =titanic.pivot_table(index='pclass',columns='sex',values='survived',aggfunc='mean')
print("\nPivot table for survival rate by class and gender:\n", pivot_table)

Passenger by class:
 pclass
3    491
1    216
2    184
Name: count, dtype: int64

Survival rate by gender:
 sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

Average age by class:
 pclass
1    38.233441
2    29.877630
3    25.140620
Name: age, dtype: float64

Pivot table for survival rate by class and gender:
 sex       female      male
pclass
1       0.968085  0.368852
2       0.921053  0.157407
3       0.500000  0.135447

In [20]:
#Export cleaned dataset
titanic.to_csv('cleaned_titanic.csv', index=False)

#Export pivot table
pivot_table.to_csv('titanic_pivot_table.csv')

print("Dataset exported successfully.")

Dataset exported successfully.